@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

html,body{
	width: 100%;
	height: 100%;
}



body{
	background:url("/asstes/userIndex/imgs/userPageBg.jpeg") no-repeat center fixed;
    background-size:cover;
}

.article_cards{
	margin-top: 30px;
}

.article_title_input{
	position:relative;
	top: 100px; 
}

.article_text_input{
	margin-top: 20px;
}


.preview_article_title{
	font-size: 50px;
	margin-left:20px;
	margin-bottom:20px;
	border-bottom:1px solid #DCDCDC;
	font-weight: 500;
}

#dateplugins{
	height: 30px;
}

.date_search_btn{
	margin-bottom: 10px;
}
