<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>index</title>
<link rel="stylesheet" href="/asstes/userIndex/css/userIndex.css">
<link rel="stylesheet" href="/asstes/plugins/bootstrap-4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/asstes/plugins/mdEditor/css/editormd.min.css">
<link rel="stylesheet" href="/asstes/plugins/datetimepicker/css/bootstrap-datetimepicker.min.css">
</head>
<body>
<div class="container-fluid">
<!-- 导航栏 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/hello">Blogs<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Chat</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">logout</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" >Search</button>
    </form>
  </div>
</nav>

<!-- 中间布局 -->	  
<div class="container-fluid article_cards">
  <div class="row">
    <!-- 日期分类 -->
    <div class="col-sm-2">
	    <!-- 日期选择器 -->
	    <div>
	    	<input id="demo" class="form-control form-control-sm date_input" style="margin-bottom: 10px;" type="text" placeholder="Start" readonly >
	    	<input class="form-control form-control-sm date_input" style="margin-bottom: 10px;" type="text" placeholder="End" readonly >
	    	<button type="button" class="btn btn-primary date_search_btn">search</button>
	    </div>
	    
	    <div class="card" style="width: 100%;">
		    <ul class="list-group list-group-flush">
			  <li class="list-group-item d-flex justify-content-between align-items-center">
				  <a href="#">2021-01-15</a>
				  <span class="badge badge-primary badge-pill">14</span>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
				  <a href="#">2021-01-15</a>
				  <span class="badge badge-primary badge-pill">14</span>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
				  <a href="#">2021-01-15</a>
				  <span class="badge badge-primary badge-pill">14</span>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
				  <a href="#">2021-01-15</a>
				  <span class="badge badge-primary badge-pill">14</span>
			  </li>
			</ul>
		</div>
    </div>
    
    <!-- 博客正文 -->
    <div class="col-sm-8">
    	
    	<div class="jumbotron" style="opacity:0.8;">
		  <h1 class="display-3">Hello, Blog!</h1>
		  <p class="lead">Create your own blog and follow this tutorial to get started!</p>
		  <hr class="my-4">
		  <p>Click the create button below to create your blog!!</p>
		  <p class="lead">
		    <a class="btn btn-primary btn-lg" href="#writeblog" role="button">Create Blog</a>
		  </p>
		</div>
    	<div class="card" style="width: 100%;">
		  <div class="card-body">
		    <h5 class="card-title">Test Blog Title</h5>
		    <p class="card-text">test blog test</p>
		    <a href="#" class="card-link">Read more-></a>
		    <a href="#" class="card-link">modification</a>
		    <a href="#" class="card-link text-danger">delete</a>
		    <span class="float-right">2021-12-12</span>
		  </div>
		</div>
    </div>
    
    <!-- 有多少人看过你 -->
    <div class="col-sm-2">
    	<div class="card" style="width: 100%;">
		  <div class="card-body">
		    <h5 class="card-title">Who read your article?</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="card-link">more</a>
		  </div>
		</div>
    </div>
  </div>
</div>	  

	  
	  
	  
	  
	  
	  
	
<!-- 编辑器 -->
<div class="container-fluid article_title_input">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center">
		 <div class="input-group mb-3">
		   <input id="writeblog" type="text" class="form-control" placeholder="Blog Title" aria-label="Blog Title" aria-describedby="basic-addon2">
		   <div class="input-group-append">
		     <a class="btn btn-primary report_btn" href="#" role="button">发布</a>
		   </div>
		 </div>
	</div>
    <div class="col-md-1"></div>
  </div>
 	  <div class="row article_text_input">
       <!-- 编辑器 -->
    <div id="editormd">
　　     <textarea style="display:none;" placeholder="markdown编辑器">#markdown编辑器</textarea>
    </div>
  </div>
</div>
</div>

	
	
	
<script type="text/javascript" src="/asstes/plugins/jquery/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/asstes/plugins/bootstrap-4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/asstes/plugins/mdEditor/lib/jquery.flowchart.min.js"></script>	
<script type="text/javascript" src="/asstes/plugins/datetimepicker/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/asstes/plugins/datetimepicker/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript" src="/asstes/plugins/datetimepicker/js/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>

<script type="text/javascript" src="/asstes/plugins/mdEditor/lib/flowchart.min.js"></script>
<script type="text/javascript" src="/asstes/plugins/mdEditor/lib/jquery.flowchart.min.js"></script>
<script type="text/javascript" src="/asstes/plugins/mdEditor/lib/marked.min.js"></script>
<script type="text/javascript" src="/asstes/plugins/mdEditor/lib/prettify.min.js"></script>
<script type="text/javascript" src="/asstes/plugins/mdEditor/lib/raphael.min.js"></script>

<script type="text/javascript" src="/asstes/plugins/mdEditor/lib/underscore.min.js"></script>
<script type="text/javascript" src="/asstes/plugins/mdEditor/editormd.js"></script>
<script type="text/javascript" src="/asstes/plugins/mdEditor/lib/sequence-diagram.min.js"></script>

<script type="text/javascript" src="/asstes/userIndex/js/userIndex.js"></script>



</body>
</html>