<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>登录</title>
</head>
<body>
<h1>登录页</h1>
<form>
<p>用户名：<input class="register_username" type="text" name="username" /></p>
<p>密码：<input class="register_password" autocomplete="on" type="password" name="password" /></p>
</form>
<button class="registerbtn">注册</button>

<form>
<p>用户名：<input class="login_username" type="text" name="username" /></p>
<p>密码：<input class="login_password" autocomplete="on" type="password" name="password" /></p>
</form>
<button class="loginbtn">登录</button>


<script type="text/javascript" src="../../asstes/plugins/jquery/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../../asstes/login/login.js"></script>
</body>

<a href="/hello">登录过了-></a>

</html>